# Google TTS credentials
google-credentials.json

# Environment variables
.env
*.env
lingroot.env
.env

backend/service-accounts/*.json

# Logs
utils/logs/
logs/
check_tokens.js
check_user_tokens.js
test_fcm_real.js

# Quality test results
quality-tests/results/